.container {
  width: 100vw;
  &--black {
    @include load-image("../assets/shapes/black.png", 298px);
  }

  &--red {
    @include load-image("../assets/shapes/red.png", 373px);
  }

  &--image {
    @include load-image("../assets/shapes/overlay.png", 344px);
    background-image: url("../assets/shapes/overlay.png"),
    url("../assets/images/Employer-Branding.-Blueprint-Creative-Article-for-Business-Barbados.png");
  }

  &__footer {
    background-image: url("../assets/shapes/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__paragraph--white {
    padding: 60px;
    text-align: center;
    color: white;
  }
}