// Typography
$mobile_xx-large: 35px;
$mobile_x-large: 24px;
$mobile_large: 21px;
$mobile_medium: 18px;
$mobile_small: 16px;
$mobile_x-small: 14px;
$mobile_xx-small: 13px;

// Colors
$navigation_bg_color: black;
$hero_text_color: white;
$primary_color: #ED503E;
$section_color: #4A4A4A;