@import "global_variables";

.hero {
  color: $hero_text_color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    height: 582px;
    background-image: linear-gradient(
                    rgba(0,0,0,0.7),
                    rgba(0,0,0,0.5)
    ), url("../assets/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 36px;
    font-family: "Oswald", sans-serif;
  }

  &__subtitle {
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
  }
}