.slideshow {
	height: 100px;
	position: relative;
	margin: auto;
}

.slide {
	display: none;
}

.prev, .next {
	position: absolute;
	padding: 20px;
	top: 50%;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 20px;
	background-image: url("../assets/icons/right-arrow.png");
	background-repeat: no-repeat;
}

.prev {
	left: 40px;
	background-image: url("../assets/icons/left-arrow.png");
	background-repeat: no-repeat;
}

.news {
	display: flex;
	flex-direction: column;

	&__logo {
		object-fit: contain;
		padding: 12px;
	}

	&__grid {
		display: none;
		width: 100%;
		justify-content: center;
		&--logos {
			width: 100%;
			justify-content: center;
			object-fit: contain;
		}
	}
}