@media only screen and (min-width: 614px) {
  .slideshow {
    display: none;
  }

  .navigation {
    height: 80px;
    &__logo {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        padding: 20px;
      }
    }
  }

  .news__grid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .desktop-line-break {
    display: inline;
  }

  .value {
    height: auto;
    &__title {
      height: auto;
      display: flex;
      align-items: center;
    }
    &__paragraph {
      text-align: left;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;

    &--two {
      width: 50%;
    }
  }
}