@import "global_variables";

@media only screen and (min-width: 600px) {
  .button {
    &--primary {
      font-size: 18px;
      padding: 15px 30px;
    }
  }

  .hero {
    &__title {
      font-size: 46px;
    }
    &__subtitle {
      font-size: 25px;
      font-weight: 300;
    }
  }

  .slideshow {
    display: none;
  }

  .navigation {
    height: 80px;
    &__logo {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        padding: 20px;
      }
    }
  }

  .news__grid {
    display: flex;
  }

  .desktop-line-break {
    display: inline;
    &--inverted {
      display: inline;
    }
  }

  .value {
    height: auto;
    &__title {
      height: auto;
      display: flex;
      align-items: center;
    }
    &__paragraph {
      text-align: left;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;

    &--two {
      width: 50%;
    }
  }

  .footer {
    align-items: unset;
    &__card {
        display: none;
        &__content {
          padding: 40px;
          text-align: left;
        }
        &--large {
          display: flex;
          width: 410px;
          margin: 20px;
          &-left {
            height: 305px;
            background: url("../assets/shapes/footer-card-large-left.svg") no-repeat center;
            background-size: auto 100%;
          }
          &-right {
            height: 325px;
            background: url("../assets/shapes/footer-card-large-right.svg") no-repeat center;
            background-size: auto 100%;
          }
        }
    }
  }



}