// Modules
@import "value";
@import 'slideshow';
@import "global_variables";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,700&display=swap');// Mixins
@mixin load-image($image_path, $image_height) {
	min-height: $image_height;
	background-image: url($image_path);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	padding: 0 0 calc(10% * .25);
}

// Overrides
body {
	margin: 0 auto;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

button {
	all: unset;
}

h1 {
	all: unset;
	font-family: "Oswald", sans-serif;
}

h2 {
	all: unset;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

// Classes
.button {
	cursor: pointer;
	&--primary {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.3;
		color: white;
		background-color: $primary_color;
		margin-top: 20px;
		padding: 10px 40px;
	}
}

.card {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
	@include load-image("../assets/shapes/Rectangle.png", 450px);
	&__content {
		height: 450px;
		text-align: left;
		padding: 20px;
	}
	&__paragraph {
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__link {
		text-decoration: none;
		color: $primary_color;
		font-size: 12px;
		font-weight: 600;
	}
}

.container {
	width: 100vw;
	&__title {
		font-size: 24px;
		font-weight: 300;
		padding: 60px 0 40px 0;
		text-align: center;
		color: #FFFFFF;
	}

	&__title--small {
		font-size: 16px;
		font-weight: 300;
		padding: 90px 0 10px 0;
		margin-bottom: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	&__footer {
		@include load-image("../assets/shapes/footer.png", 580px);
	}

	&--black {
		@include load-image("../assets/shapes/black-slanted-rectangle.svg", 298px);
	}

	&--red {
		@include load-image("../assets/shapes/red-trap.svg", 373px);
	}

	&--image {
		@include load-image("../assets/shapes/image-overlay.svg", 400px);
		background-image: url("../assets/shapes/image-overlay.svg"),
		url("../assets/images/Employer-Branding.-Blueprint-Creative-Article-for-Business-Barbados.png");
	}

	&--small {
		max-height: 200px;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include load-image("../assets/shapes/footer-group.svg", 580px);
	width: 100vw;
	&__title {
		font-size: 24px;
		font-weight: 700;
		font-family: "Oswald", sans-serif;
		padding: 60px 0 40px 0;
		text-align: center;
		color: #FFFFFF;
	}
	&__card {
		height: 390px;
		width: 265px;
		background: url("../assets/shapes/footer-card.svg") no-repeat center;
		background-size: auto 100%;
		&__content {
			padding: 20px;
			text-align: left;
		}
		&--large {
			display: none;
		}

		&__link {
			text-decoration: none;
			color: $primary_color;
			font-size: 12px;
			font-weight: 600;
		}
		&__paragraph {
			font-size: 16px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $hero_text_color;
	line-height: 1.2;
	&__image {
		height: 582px;
		background-image: url("../assets/images/hero-overlay.png"),
		url("../assets/images/hero-image.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__title {
		font-size: 35px;
		font-weight: 200;
	}

	&__subtitle {
		font-size: 18px;
		font-weight: 100;
		font-family: "Open Sans", sans-serif;
		padding-top: 25px;
		max-width: 550px;
	}
}

.navigation {
	position: absolute;
	width: 100vw;
	height: 55px;
	background-color: $navigation_bg_color;
	&__logo {
		&--mobile {
			display: block;
			padding: 15px;
		}
		&--desktop {
			display: none;
			padding: 20px;
		}
	}
}

.section {
	&__title {
		font-weight: 700;
		font-size: 24px;
		font-family: "Oswald", sans-serif;
		&--gray {
			color: #4A4A4A;
		}
	}

	&__paragraph {
		padding-left: 40px;
		padding-right: 40px;
		font-weight: 200;
		color: #4A4A4A;

	}
}

.site__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.desktop-line-break {
	display: block;
	&--inverted {
		display: block;
	}
}

.center {
	justify-content: center;
}

@import "responsive";
