// Modules
@import "value";
@import 'slideshow';
@import "global_variables";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400&display=swap');

// Mixins
@mixin load-image($image_path, $image_height) {
	height: $image_height;
	background-image: url($image_path);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Overrides
body {
	margin: 0 auto;
	font-family: Oswald, sans-serif;
	line-height: 1.5;
}

button {
	all: unset;
}

h1 {
	all: unset;
}

h2 {
	all: unset;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

// Classes
.button {
	cursor: pointer;
	&--primary {
		cursor: pointer;
		color: white;
		background-color: $primary_color;
		margin: 20px;
		padding: 20px;
		color: white;
	}
}

.card {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
	@include load-image("../assets/shapes/Rectangle.png", 450px);
	&__paragraph {
		padding: 20px;
		text-align: center;
	}

	&__link {
		color: $primary_color
	}
}

.container {
	width: 100vw;
	&--black {
		@include load-image("../assets/shapes/black.png", 298px);
	}

	&--red {
		@include load-image("../assets/shapes/red.png", 373px);
	}

	&--image {
		@include load-image("../assets/shapes/overlay.png", 400px);
		background-image: url("../assets/shapes/overlay.png"),
		url("../assets/images/Employer-Branding.-Blueprint-Creative-Article-for-Business-Barbados.png");
	}

	&__footer {
		@include load-image("../assets/shapes/footer.png", 580px);
	}

	&__paragraph--white {
		padding-top: 90px;
		text-align: center;
		color: white;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $hero_text_color;
	&__image {
		height: 582px;
		background-image: url("../assets/images/hero-overlay.png"),
		url("../assets/images/hero-image.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__title {
		font-size: $extra-large;
	}

	&__subtitle {
		font-size: $medium;
		font-weight: 200;
		font-family: "OpenSans", sans-serif;
	}
}

.navigation {
	position: absolute;
	width: 100vw;
	height: 55px;
	background-color: $navigation_bg_color;
	&__logo {
		&--mobile {
			display: block;
			padding: 15px;
		}
		&--desktop {
			display: none;
			padding: 20px;
		}
	}
}

.section {
	&__title {
		font-weight: bold;
		font-size: larger;
	}
	&__paragraph {
		padding-left: 20%;
		padding-right: 20%;
		color: $paragraph_color;
		font-weight: lighter;
	}
}

.site__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.desktop-line-break {
	display: block;
	&--inverted {
		display: block;
	}
}

@import "responsive";
