@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400&display=swap");
.value {
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%; }
  .value__icon {
    padding: 10px; }
  .value__paragraph {
    color: dimgray;
    font-size: 14px; }
  .value__title {
    font-size: 20px;
    font-weight: bold; }

.slideshow {
  height: 100px;
  padding-top: 20px;
  max-width: 100vw;
  position: relative;
  margin: auto; }

.slide {
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  background-image: url("../assets/icons/right-arrow.png");
  background-repeat: no-repeat; }

.prev {
  left: 0;
  background-image: url("../assets/icons/left-arrow.png");
  background-repeat: no-repeat; }

.news {
  display: flex;
  flex-direction: column; }
  .news__logo {
    object-fit: contain;
    padding: 12px; }
  .news__grid {
    display: none; }

body {
  margin: 0 auto;
  font-family: Oswald, sans-serif;
  line-height: 1.5; }

button {
  all: unset; }

h1 {
  all: unset; }

h2 {
  all: unset; }

section {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.button {
  cursor: pointer; }
  .button--primary {
    cursor: pointer;
    background-color: #ED503E;
    margin: 20px;
    padding: 20px;
    color: white; }

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 450px;
  background-image: url("../assets/shapes/Rectangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .card__paragraph {
    padding: 20px;
    text-align: center; }
  .card__link {
    color: #ED503E; }

.container {
  width: 100vw; }
  .container--black {
    height: 298px;
    background-image: url("../assets/shapes/black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container--red {
    height: 373px;
    background-image: url("../assets/shapes/red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container--image {
    height: 400px;
    background-image: url("../assets/shapes/overlay.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/shapes/overlay.png"), url("../assets/images/Employer-Branding.-Blueprint-Creative-Article-for-Business-Barbados.png"); }
  .container__footer {
    height: 580px;
    background-image: url("../assets/shapes/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container__paragraph--white {
    padding-top: 90px;
    text-align: center;
    color: white; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; }
  .hero__image {
    height: 582px;
    background-image: url("../assets/images/hero-overlay.png"), url("../assets/images/hero-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .hero__title {
    font-size: 36px; }
  .hero__subtitle {
    font-size: 20px;
    font-weight: 200;
    font-family: "OpenSans", sans-serif; }

.navigation {
  position: absolute;
  width: 100vw;
  height: 55px;
  background-color: black; }
  .navigation__logo--mobile {
    display: block;
    padding: 15px; }
  .navigation__logo--desktop {
    display: none;
    padding: 20px; }

.section__title {
  font-weight: bold;
  font-size: larger; }
.section__paragraph {
  padding-left: 20%;
  padding-right: 20%;
  color: dimgray;
  font-weight: lighter; }

.site__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.desktop-line-break {
  display: block; }
  .desktop-line-break--inverted {
    display: block; }

@media only screen and (min-width: 501px) {
  .slideshow {
    display: none; }

  .navigation {
    height: 80px; }
    .navigation__logo--mobile {
      display: none; }
    .navigation__logo--desktop {
      display: block;
      padding: 20px; }

  .news__grid {
    display: flex;
    flex-direction: column;
    padding: 1rem; }

  .desktop-line-break {
    display: inline; } }

/*# sourceMappingURL=style.css.map */
