@import "global_variables";

.value {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  &__icon {
    padding: 10px;
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #9B9B9B;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    font-weight: 500;
  }
}
