@import "global_variables";

.value {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  &__icon {
    padding: 10px;
  }

  &__paragraph {
    color: $paragraph_color;
    font-size: $small;
  }

  &__title {
    font-size: $medium;
    font-weight: bold;
  }
}
